<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Result</h1>
        </div>
    </header>

    <main>
        <div class="container">
            <div id="dices">
                <img src="./img/{{diceOne}}.png" alt="">
                <img src="./img/{{diceTwo}}.png" alt="">
            </div>
            <div class="links">
                <a href="/roll">Try again</a>
                <a href="/">Back to main page</a>
            </div>
        </div>
    </main>
</body>
</html>